{% extends "base.html.twig" %}

{% block title %}AppBundle:Product:list{% endblock %}

{% block body %}
    
    {{ form_start(form) }}
        {{ form_row(form.keyword) }}
        <button type="submit" class="btn btn-danger">Szukaj</button>
    {{ form_end(form) }}
    
    {{ message }}
    
    {{ 'total_product_count'|trans }}: {{ products.getTotalItemCount }}
    
    <table class="table table-striped">
        <thead>
            <tr>
                <th>{{ knp_pagination_sortable(products, 'ID', 'p.id') }}</th>
                <th>{{ knp_pagination_sortable(products, 'Nazwa', 'p.name') }}</th>
                <th>{{ knp_pagination_sortable(products, 'Cena', 'p.price') }}</th>
                <th>{{ knp_pagination_sortable(products, 'Kategoria', 'c.name') }}</th>
                <th>Akcja</th>
            </tr>                
        </thead>
        <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ product.id }}</td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.price }}</td>
                    <td>{{ product.category.name }}</td>
                    <td>
                        <a href="{{ path('product', {'slug': product.slug}) }}" class="btn btn-primary">Pokaż</a>
                        <a href="{{ path('add_to_basket', {'id': product.id}) }}" class="btn btn-danger">Dodaj do koszyka</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
            
    {{ knp_pagination_render(products) }}
            
{% endblock %}
