{% extends "base.html.twig" %}



{% block title %}AppBundle:Product:show{% endblock %}

{% block body %}
    <div class="jumbotron">
        <h1>{{ product.name }}</h1>
        <p>{{ product.description }}</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Dodaj do koszyka</a></p>
        
        {{ form_start(productForm, {'attr': {'novalidate': 'novalidate'}}) }}
                        
            <button type="submit" class="btn btn-primary">Zapisz zmiany</button>
        
        {{ form_end(productForm) }}
               
    </div>
        
        
        
    {% if is_granted('ROLE_USER') %}    
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}        
            {{ form_row(form.comment) }}                
            <button type="submit" class="btn btn-primary">Dodaj komentarz</button>
        {{ form_end(form) }}
    {% else %}
        <p>Aby napisać komentarz musisz być zalogowany</p>
    {% endif %}
    
    <div>
        {% for comment in product.comments %}
            Data: {{ comment.createdAt|date('d-m-Y') }}, dodał: {{ comment.user.username }}<br>
            {{ comment.comment }}<br>
            <hr>
        {% endfor %}
    </div>
        
{% endblock %}
